body{
	margin: 0;
	padding: 0;
}
.mec{
	font-size: 150px
}
.mec1{
	font-size: 130px
}
.mec2{
	font-size: 115px
}
.mec3{
	font-size: 90px
}
.mec4{
	font-size: 70px
}
.mec5{
	font-size: 60px
}
.mec6{
	font-size: 50px
}
.mec7{
	font-size: 38px
}